body {
    background-color: #000;
    font-family: 'Lucida Grande', 'Trebuchet MS', Sans-Serif;
    color: #eee;
}
#patr { padding-bottom: 12px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.strike { 
    text-decoration: line-through;
    color: #7e7e7e;
}
a { color: gold; text-decoration: none; }
.containerCenter {    text-align: center; }
.ratingsContainer { font-weight: normal; }
.noPaddingTop { padding-top: 0!important;}
#gpa a, #gpa a:visited, #gpa a:hover, #gpa a:link, #gpa a:active { text-decoration: none; }
.headerWrapper {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    position: relative;
    font-size: 20px;
    width: 787px;
}
#header_image {
    background: url('../images/pfp_header_image_sq300.jpg');
    height: 247px;
    width: 247px;
    float: left;
    position: relative;
    left: 44px;
}

#gpa {
    position: absolute;
    left: -277px;
}
#header_contact {
    float: left;
    margin-top: 15px;
    width: 787px;
}
#twit1,#twit2,#eml0,#eml1,#eml2,#eml3,#twit0,#fbk1,#fbk0 { float: left; }
#email_row { 
    clear: both;
    left: 74px;
    position: relative;
    padding-bottom: 6px;
}
#eml1,#eml3,#twit2 {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#eml1,#twit1,#fbk1 { margin-left: 15px; }
#eml { float: right; position: relative; top: 6px; }
#twit, #fbok { float: left; }
#twit { position: relative; left: 41px; top: 9px; }
.showRatings {
    height: 41px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}


#fbok {
    position: relative;
    text-align: center;
    left: 59px;
    top: 4px;
}

hr {
    background-color: green;
    border-style: outset;
    border-width: 1px;
    color: blue;
    padding-top: 3px;
    position: relative;
    top: 16px;
}

.show_notes_heading { clear: both; }
.show_notes_heading h1 { padding-top: 9px; text-align: center; }
.showNotes0 a, .showNotes1 a { text-decoration: none; color: #700; }
.showNotes0, .showNotes1 {
    width: 693px;
    border-color: #ff4320;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    -webkit-border-radius: 5px;
    padding: 5px 7px;
    background-color: #444;
}

.episodeRow {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    clear: both;
    position: relative;
}
.showNotes0 { 
    clear: both;
    margin: 0 auto;
}
.showNotes1 { float: right; }

.showNote {
    background-color: #fff;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    padding-bottom: 6px;
    padding-top: 6px;
    position: relative;
    width: 98.5%;
    padding-left: 7px;
    top: -15px;
}

h4 {
    background-color: #aeaeae;
    color: #000076;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-top: 10px;
    position: relative;
    top: -10px;
}

#itunes > a {
    display: inline-block;
    overflow: hidden;
    background: url('../images/badge_itunes-lrg.png') no-repeat;
    width: 110px;
    height: 40px;
}

@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg);}

#itunes {
    float: left;
    position: relative;
    left: 24px;
}

#latest_show {
    float: left;
    width: 445px;
    position: relative;
    left: 60px;
    top: 5px;
    border-color: #101010;
    border-style: solid;
    border-width: 2px;
    border-radius: 28px;
    background-color: #363636;
}

#latest_show h2, #latest_deets {
    top: -20px;
    position: relative;
}

#wrdpr {
    position: relative;
    width: 40px;
    height: 40px;
    left: 75px;
    float: left;
}

.howDidTheyRateEm {
    background-color: maroon;
    color: gold;
    cursor: pointer;
}

.centerGame {
    text-align: center;
    font-weight: bold;
    color: #ff0;
}

.jimRating, .seanRating {
    width:227px;
    position: relative;
}

.seanRating { 
    float: right;
    text-align: right;
    right: 16px;
}

.jimRating { 
    float: left;
    text-align: left;
    left: 16px;
}

@font-face {
    font-family: "Arcade";
    src: url('../fonts/ARCADE.TTF');
}

#main_toolbar {
    border-radius: 5px;
    border-style: double;
    clear: both;
    display: block;
    height: 40px;
    margin: 0 auto;
    position: relative;
    width: 1014px;
    border-color: #ff7419;
    text-align: center;
    top: 12px;
}

.toolbarDiv {
    font-family: "Arcade";
    font-size: 24px;
    color: #ffc219;
    text-transform: uppercase;
    float: left;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 12px;
}

.toolbarDiv:hover, .toolbarDiv a:hover {    color: #bdce49; }

.templateBody h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Arcade";
    text-transform: uppercase;
    height: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}
.nextPage { float: left; }
.prevPage { float: right; }
.nextPage, .prevPage {
    display: block;
    position: relative;
    width: 100px;
}
.paginatedList {
    float: left;
    position: relative;
    width: 610px;
}
.paginatedList li, .aboutYourHosts a { cursor: pointer; }

.credits {
    height: 216px;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    margin-bottom: 16px;
}

.credHead {
    clear: both;
    color: #ff00ff;
    float: left;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 100%;
}

.cred {
    clear: both;
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
}

#csubmit {
    float: right;
    cursor: pointer;
    position: relative;
    top: 6px;
}

.templateBody {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
.nextPage img, .prevPage img, .clickMenuOption { cursor: pointer; }
.newsDate { color: #fc6d42; }
.newsHeadline { color: #21fdff; }
.newsArticle {
    color: #fff;
    position: relative;
    left: 26px;
    margin-bottom: 9px;
}

.aboutUsContainer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 275px;
}

.yourHosts {
    background-image: url('../images/yourhosts.jpg');
    height: 259px;
    background-repeat: no-repeat;
    width: 275px;
    border-radius: 13px;
    clear: both;
    float: left;
    position: relative;
    left: 68px;
}

.jimHost {
    background-image: url('../images/therealjimmyg.jpg');
    height: 259px;
    background-repeat: no-repeat;
    width: 275px;
    border-radius: 13px;
    clear: both;
    float: left;
    position: relative;
    left: 68px;
}

.seanHost {
    background-image: url('../images/identitycrisis.jpg');
    height: 259px;
    background-repeat: no-repeat;
    width: 275px;
    border-radius: 13px;
    clear: both;
    float: left;
    position: relative;
    left: 68px;
}

.aboutYourHosts {
    float: right;
    position: relative;
    width: 570px;
    padding-top: 10px;
}

.cRow {
    padding: 21px 21px 48px 21px;
    width: 100%;
}

.contactA {
    float: left;
    width: 500px;
}

.contactQ {
    clear: both;
    float: left;
    left: 25px;
    position: relative;
    width:400px;
    padding-right: 41px;
}

.contactA input {
    float: left;
    width: 429px;
    line-height: 22px;
}

#ctellus {
    width: 434px;
    height: 67px;
}

.charCount {
    color: #21fdff;
    font-style: italic;
}

.redChars {   color: #ff0000;    }

.marquee {
    marquee-style: scroll;
    overflow-style: marquee-block;
    marquee-direction: forward;
    -moz-animation: 20s linear 0s normal none infinite running scroll-up;
    height: 530px;
    position: absolute;
    -moz-transform: translateY(100%);
    width: 100%;
    display: inline;
    vertical-aling: top;
}

@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}

.credSpace {
    float: left;
    height: 35px;
    position: relative;
}