#add_show_notes_heading { float: left; }
#add_notes_form,#add_notes_login { display: none; }
.formVisible { display: block!important; }
.labelDiv { width: 136px; float: left; }
.labelDivWide { width: 330px; float: left; }
.formLabelRow { padding-bottom: 7px; }
#add_episode_form { padding-top: 12px; }
#add_episode_notes { display: none; }
#click_to_submit_all { display: none; margin-left: auto; margin-right: auto; }

#add_episode, #edit_notes {
    background-color: #fff;
    width: 787px;
    height: 343px;
    color: #000;
    display: none;
    overflow: scroll;
}

#log_out_click, #add_new_show_click, #add_notes_click, #edit_existing_notes_click {
    cursor: pointer;
}

#edit_notes_dropdown { position: relative; top: 5px; }
#edit_label { padding-top: 10px; padding-bottom: 19px; }
.edPriority { width: 50px; }
.edLink, .episodeFz { width: 222px; }