#add_show_notes_heading { float: left; }
#add_notes_form,#add_notes_login { display: none; }
.formVisible { display: block!important; }
.labelDiv { width: 136px; float: left; }
.labelDivWide { width: 330px; float: left; }
.formLabelRow { padding-bottom: 7px; }
#add_episode_form { padding-top: 12px; }
#add_episode_notes { display: none; }
#click_to_submit_all { display: none; margin-left: auto; margin-right: auto; }

#add_episode {
    background-color: #fff;
    width: 787px;
    height: 343px;
    color: #000;
    display: none;
    overflow: scroll;
}
