#add_show_notes_heading { float: left; }
#add_notes_form,#add_notes_login { display: none; }
#add_notes_login { float: left; }
.formVisible { display: block!important; }
.labelDiv { width: 136px; float: left; }
.labelDivWide { width: 330px; float: left; }
.formLabelRow { padding-bottom: 7px; }
#add_episode_form { padding-top: 12px; }
#add_episode_notes { display: none; }
#click_to_submit_all { display: none; margin-left: auto; margin-right: auto; }
#actual_episode { font-size: 13px; }
#episode_number { width: 46px; }

.hideMe {
    background-color: #fff;
    width: 787px;
    height: 343px;
    color: #000;
    display: none;
    overflow: scroll;
}

#log_out_click, #add_new_show_click, #add_notes_click, #edit_existing_notes_click {
    cursor: pointer;
}

#edit_notes_dropdown, #episode_select, #existing_dropdown, #existing_select { position: relative; }
#edit_label, #existing_label { padding-top: 10px; padding-bottom: 19px; }
.edPriority { width: 50px; }
.edLink, .episodeFz { width: 222px; }

#add_notes_to_existing_form .episodeFz, #add_notes_to_existing_form .edLink, #add_notes_to_existing_form .edPriority {
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
}

#add_notes_to_existing_form .episodeFz, #add_notes_to_existing_form .edLink { width: 255px; float: left; }

#add_notes_to_existing_form .formLabelRow { clear: both; padding-left: 35px; padding-bottom: 0; padding-top: 7px; }
#add_notes_to_existing_form input { margin: 5px; float: left }